# Listing path patterns that shall be ignored by git:
*.beam
*.o
*.so
*.log
*.plt
*erlang.log.*
declared-types-in-*.txt
.eunit
erl_crash.dump

# For Emacs temporary files:
*.#*

*~

# Added in relation to rebar3:
.rebar
rebar3.crashdump
.rebar3
_*

# Mere symlink:
src/mobile.app.src

# Generated:
conf/rebar.config

src/mobile_seaplus_api_mapping.h
src/mobile_seaplus_driver

doc/mathjax

doc/Ceylan-Mobile-Layer-technical-manual-english.rst
doc/api-doc/
doc/index.html
doc/mobile.html
doc/mobile.pdf
doc/overview.edoc
doc/Ceylan-Mobile-Layer-technical-manual-english.aux
doc/Ceylan-Mobile-Layer-technical-manual-english.html
doc/Ceylan-Mobile-Layer-technical-manual-english.pdf
doc/Ceylan-Mobile-Layer-technical-manual-english.tex
doc/Ceylan-Mobile-Layer-technical-manual-english.toc
