@author Olivier Boudeville <olivier (dot) boudeville (at) esperide (dot) com>

@copyright 2021 Olivier Boudeville

@version API PROJECT_VERSION

@title Welcome to the documentation of the Ceylan-Mobile API

@doc <h3>Overview</h3>

<p>`Ceylan-Mobile' is a library allowing to <b>control mobile phones and 3G keys from Erlang</b>.
</p>

<p>This website presents the documentation of the API (<em>Application Programming Interface</em>) of Mobile version PROJECT_VERSION (as of GENERATION_DATE).
</p>

<p>Ceylan-Mobile relies on the <a href="http://seaplus.esperide.org" target="_blank">Seaplus bridge</a> (to control the C code of <a href="https://docs.gammu.org/c/api.html" target="_blank">Gammu</a> from Erlang) and on the <a href="http://myriad.esperide.org" target="_blank">Myriad layer</a> (as a generic Erlang toolbox).
</p>


@reference See the <a href="http://mobile.esperide.org" target="_blank">Mobile official website</a> or <a href="https://olivier-boudeville.github.io/Ceylan-Mobile/index.html" target="_blank">its mirror</a>

@reference In terms of dependency, for additional information one may refer to:
<ul>
  <li>the <a href="http://seaplus.esperide.org" target="_blank">Seaplus official website</a> or <a href="https://olivier-boudeville.github.io/Ceylan-Seaplus/index.html" target="_blank">its mirror</a>, notably its <a href="https://seaplus.esperide.org/api-doc/index.html" target="_blank">API documentation</a></li>
  <li>the <a href="http://myriad.esperide.org" target="_blank">Myriad official website</a> or <a href="https://olivier-boudeville.github.io/Ceylan-Myriad/index.html" target="_blank">its mirror</a>, notably its <a href="https://myriad.esperide.org/api-doc/index.html" target="_blank">API documentation</a></li>
  <li>to the <a href="http://erlang.org" target="_blank">Erlang official website</a>, notably its <a href="https://erlang.org/doc/man_index.html">API documentation</a></li>
</ul>
